absl-py==1.4.0
cachetools==5.3.1
certifi==2024.2.0
charset-normalizer==3.2.0
fer==22.9.6
flatbuffers==23.3.3
google-auth==2.22.0
google-auth-oauthlib==1.1.0
grpcio==1.58.0
keras==2.13.1
mtcnn==0.1.1
numpy==1.24.4
opencv-python-headless==4.8.1.78
protobuf==4.24.4
requests==2.31.0
rsa==4.9
six==1.16.0
tensorboard==2.13.0
tensorflow==2.13.1
urllib3==2.0.7
werkzeug==3.0.1
